files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root curl https://devbackend.ifasonline.com/v1/admin/teachers/cron/update-premier-status >> /home/ec2-user/log.txt
            * * * * * root curl https://devbackend.ifasonline.com/v1/users/cron/add-to-user-notification?acess_code=AKGA68BHCY46W77KE7EGL >> /home/ec2-user/log.txt
            * * * * * root curl https://devbackend.ifasonline.com/v1/users/cron/send-user-notification?acess_code=AKGA68BHCY46W77KE7EGL >> /home/ec2-user/log.txt
            0 */6 * * * root curl https://devbackend.ifasonline.com/v1/users/cron/payment-installment?acess_code=AKGA68BHCY46W77KE7EGL >> /home/ec2-user/log.txt
            

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            date > /tmp/date
            # Your actual script content

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
   
