commands:
    command1:
        command: "mkdir /home/ec2-user/kumar"
    command2:
        command: "sudo amazon-linux-extras install redis6"
    command3:
        command: "systemctl start redis"
    command4:
        command: "wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm"
    command5:
        command: "yum install ./google-chrome-stable_current_x86_64.rpm"
    command6:
        command: "ln -s /usr/bin/google-chrome-stable /usr/bin/chromium"
    
        
        
  
