commands:
    command1:
        command: "sudo su ec2-user"
    command2:
        command: "mkdir /home/ec2-user/vasupaliwal"
    command3:
        command: "sudo amazon-linux-extras install redis6 -y"
    command4:
        command: "sudo systemctl start redis"
    
    
    
    
    
        
        
  
