commands:
    command1:
        command: "sudo su ec2-user"
    command2:
        command: "mkdir /home/ec2-user/vasupaliwal"
    command3:
        command: "sudo amazon-linux-extras install redis6 -y"
    command4:
        command: "sudo systemctl start redis"
    command5:
        command: "wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm"
    command6:
        command: "sudo yum install ./google-chrome-stable_current_x86_64.rpm"
    command7:
        command: "sudo ln -s /usr/bin/google-chrome-stable /usr/bin/chromium"
    command8:
        command: "curl https://intoli.com/install-google-chrome.sh | bash"
    command9:
        command: "mkdir /home/ec2-user/surajkumar"
    command10:
        command: "sudo touch /home/ec2-user/surajkumar/abc.txt"
    
