packages:
  yum:
    ImageMagick : ""
    bison       : ""                    
    byacc : ""
    cscope: ""
    ctags: ""
    cvs: ""
    diffstat: ""
    doxygen: ""
    flex: ""
    gcc: ""
    gcc-c++: ""
    gcc-gfortran: ""
    gettext: ""
    git: ""
    libtool : ""
    
    
sources:
  /home/ec2-user: http://download.redis.io/releases/redis-5.0.5.tar.gz
commands:
  amazon-linux-extras install redis6 -y
  
